

<style>

a {
  color:black;
}

</style>

<br/><br/>
  
<div class="container">
        <div class="row">
           



      <div class="col-lg-4 col-md-6 col-xs-12" style="padding:5px">
            <div class="card" >
                    <h5 class="card-header" style="background-color: gold;color:white">Recent Updates</h5>
                    <div class="card-body" style="height:250px">
                      <ul>
                          <marquee height="200px" scrollamount="2" direction="up" loop="true"  onmouseover="this.stop()" onmouseout="this.start()"> 
                       <a href=""> <li><i class="fa fa-angle-double-right"></i> Office ORder <img border="0"
                        src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></li>  </a><br/>
                       <a href=""> <li><i class="fa fa-angle-double-right"></i> Seniority List</li> </a><br/>
                       <a href=""> <li><i class="fa fa-angle-double-right"></i> OFC N.I.T Details</li> </a><br/>
                       <a href=""> <li><i class="fa fa-angle-double-right"></i> Circular</li> </a><br/>
                        <a href=""> <li><i class="fa fa-angle-double-right"></i> Budget 1st Supplementry 2019-20</li> </a><br/>
                       <a href=""> <li><i class="fa fa-angle-double-right"></i> Office Memorandum</li> </a><br/>
                       <a href=""> <li><i class="fa fa-angle-double-right"></i>DA Circular</li> </a><br/>
                       <a href=""> <li><i class="fa fa-angle-double-right"></i>Budget Circular 2020-21</li> </a><br/>
                      <a href=""> <li><i class="fa fa-angle-double-right"></i>Demand of Grants 2019-20</li> </a><br/>
                       <a href=""> <li><i class="fa fa-angle-double-right"></i>Unspent Format</li> </a><br/>
                       <a href=""> <li><i class="fa fa-angle-double-right"></i>Notification</li> </a><br/>
                       <a href=""> <li><i class="fa fa-angle-double-right"></i>Letter</li> </a><br/>
                       <a href=""> <li><i class="fa fa-angle-double-right"></i>O M For VOA 2019-20</li> </a><br/>
                       <a href=""> <li><i class="fa fa-angle-double-right"></i>Reports-FRBM</li> </a><br/>
                       <a href=""> <li><i class="fa fa-angle-double-right"></i>Reports-FCD</li> </a><br/>
                       <a href=""> <li><i class="fa fa-angle-double-right"></i>Gazette</li> </a><br/> 
          </marquee>
                      </ul>
                                  
                      </div>
                  </div>
      </div>
  
      <div class="col-lg-4 col-md-6 col-xs-12" style="padding:5px">
            <div class="card">
              <h5 class="card-header" style="background-color: gold;color:white">News & Press Release</h5>
                    <div class="card-body" style="height:250px">
                      <ul>
                          <marquee height="200px" scrollamount="2" direction="up" loop="true"  onmouseover="this.stop()" onmouseout="this.start()"> 
          
                          <a href=""> <li><i class="fa fa-angle-double-right"></i> The Annual General Budget for the Financial Year 2018-19 was passed by the State Legislative Assembly on 6<sup>th</sup> March 2018 <img border="0"
                            src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></li> </a><br/>
                          <a href=""> <li><i class="fa fa-angle-double-right"></i>The Compendium on achievements for the period from 1994-2016. <img border="0"
                            src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></li> </a><br/>
                          <a href=""> <li><i class="fa fa-angle-double-right"></i>Explanatory  Memorandum as to the Action Taken on the recommendations made by the Fourth Finance Commission.</li> </a><br/>
                        <a href=""> <li><i class="fa fa-angle-double-right"></i> C.I.T: Deduction of Income Tax for other Autonomous Bodies .</li> </a><br/>
                           <a href=""> <li><i class="fa fa-angle-double-right"></i> Budget 1st Supplementry 2019-20</li> </a><br/>
                          <a href=""> <li> <i class="fa fa-angle-double-right"></i> Report of the 4th State Finance Commission, Sikkim for the Award period 2015-2020.</li> </a><br/>
                          <a href=""> <li><i class="fa fa-angle-double-right"></i> Office Memorandum on Implementation of SIFMS.</li> </a><br/>
                          <a href=""> <li><i class="fa fa-angle-double-right"></i> Instructions on Sikkim Integrated Financial Management System(SIFMS).</li> </a><br/>
                          <a href=""> <li><i class="fa fa-angle-double-right"></i> Online services for VAT launched by Commercial Tax Division, FRED</li> </a><br/>
          </marquee>
                      </ul>
                                  
                      </div>
                  </div>
      </div>


<div class="col-lg-4 col-md-6 col-xs-12" style="padding:5px"   >
            <div class="card">
                  
                    <div class="card-body">
                      <marquee height="100%" scrollamount="5" direction="left" loop="true" onmouseover="this.stop()" onmouseout="this.start()">                                 
                              <img id="ctl00_ContentPlaceHolder1_Image2" src="http://sikkimfred.gov.in/user/images/GOVERNOR.jpg" style="border-width:0px;height:251px; width: 240px; border:1px solid black;margin-right: 20px" />
                              <img id="ctl00_ContentPlaceHolder1_Image1" src="http://sikkimfred.gov.in/user/images/CM.jpg" style="border-width:0px;height:251px; width: 240px; border:1px solid black;margin-right: 20px" />
                              <img id="ctl00_ContentPlaceHolder1_Image3" src="http://sikkimfred.gov.in/user/images/sec.jpg" style="border-width:0px;height:251px; width: 240px; border:1px solid black;margin-right: 20px" />
                       </marquee>
                                
                    </div>
                  </div>
                  </div>
      

</div>
</div>

<app-flipcard></app-flipcard>