
<app-adminn-avbar></app-adminn-avbar>
 <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
     <br/><br/>
      <!-- Icon Cards-->
      
      <!-- Area Chart Example-->
     
      <div class="row">
        <div class="col-lg-12">
          <!-- Example Bar Chart Card-->
         
          <!-- Card Columns Example Social Feed-->
        
        
          <!-- Example Pie Chart Card-->
          
         
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <form action="http://sikkimfred.local.api/sbsfile/upload" method="post" enctype="multipart/form-data">
        <div class="card-header">
          <i class="fa fa-table"></i> SBS Upload</div>
       


        <div class="card-body">
      
<select name="FileType" id="fileType" class="form-control">
<option>Choose Category</option>
<option>Reciept</option>
<option>Payment</option>
</select>
<br>

<input type="file" name="File" class="form-control">

          </div>
            <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
