
<app-adminn-avbar></app-adminn-avbar>
 <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
     <br/><br/>
      <!-- Icon Cards-->
      
      <!-- Area Chart Example-->
     
      <div class="row">
        <div class="col-lg-12">
          <!-- Example Bar Chart Card-->
         
          <!-- Card Columns Example Social Feed-->
        
        
          <!-- Example Pie Chart Card-->
          
         
      <!-- Example DataTables Card-->
      <div class="card mb-3">
     <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="card-header">
          <i class="fa fa-table"></i> SBS Upload</div>
       


        <div class="card-body form-field">
          <div class="form-group"> 
<select name="FileType" id="fileType" formControlName="name" class="form-control" >
<option>Choose Category</option>
<option value="Receipt">Reciept</option>
<option value="Payment">Payment</option>
</select>
</div>
<br>
<div class="form-group">
<input type="file" name="File" class="form-control" (change)="uploadFile($event)" >
</div>

          </div>
            <div class="modal-footer form-group">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
