<br/><br/>
<main>
    <section class="section section-shaped section-lg">
      <div class="container">
        <h2 style="color:red"> Contact List- Finance Department As On 23/10/2019</h2>
                   
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>SL.No.</th>
              <th>Name</th>
              <th>Designation</th>
              <th>Office/Res</th>
              <th>EXT.No.</th>
              <th>Mobile.No.</th>
              <th>Email ID</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>SHRI V.B. PATHAK (IAS)</td>
              <td>ADDL. CHIEF SECRETARY</td>
              <td> 202792</td>
              <td>1001</td>
              <td>9910203553</td>
              <td>prs.fred@sikkim.gov.in </td>
            </tr>
            <tr>
              <td>1</td>
              <td>SHRI V.B. PATHAK (IAS)</td>
              <td>ADDL. CHIEF SECRETARY</td>
              <td> 202792</td>
              <td>1001</td>
              <td>9910203553</td>
              <td>prs.fred@sikkim.gov.in </td>
            </tr>
            <tr>
              <td>1</td>
              <td>SHRI V.B. PATHAK (IAS)</td>
              <td>ADDL. CHIEF SECRETARY</td>
              <td> 202792</td>
              <td>1001</td>
              <td>9910203553</td>
              <td>prs.fred@sikkim.gov.in </td>
            </tr>
            <tr>
              <td>1</td>
              <td>SHRI V.B. PATHAK (IAS)</td>
              <td>ADDL. CHIEF SECRETARY</td>
              <td> 202792</td>
              <td>1001</td>
              <td>9910203553</td>
              <td>prs.fred@sikkim.gov.in </td>
            </tr>
            <tr>
              <td>1</td>
              <td>SHRI V.B. PATHAK (IAS)</td>
              <td>ADDL. CHIEF SECRETARY</td>
              <td> 202792</td>
              <td>1001</td>
              <td>9910203553</td>
              <td>prs.fred@sikkim.gov.in </td>
            </tr>
            <tr>
              <td>1</td>
              <td>SHRI V.B. PATHAK (IAS)</td>
              <td>ADDL. CHIEF SECRETARY</td>
              <td> 202792</td>
              <td>1001</td>
              <td>9910203553</td>
              <td>prs.fred@sikkim.gov.in </td>
            </tr>
            <tr>
              <td>1</td>
              <td>SHRI V.B. PATHAK (IAS)</td>
              <td>ADDL. CHIEF SECRETARY</td>
              <td> 202792</td>
              <td>1001</td>
              <td>9910203553</td>
              <td>prs.fred@sikkim.gov.in </td>
            </tr>
            <tr>
              <td>1</td>
              <td>SHRI V.B. PATHAK (IAS)</td>
              <td>ADDL. CHIEF SECRETARY</td>
              <td> 202792</td>
              <td>1001</td>
              <td>9910203553</td>
              <td>prs.fred@sikkim.gov.in </td>
            </tr>
            <tr>
              <td>1</td>
              <td>SHRI V.B. PATHAK (IAS)</td>
              <td>ADDL. CHIEF SECRETARY</td>
              <td> 202792</td>
              <td>1001</td>
              <td>9910203553</td>
              <td>prs.fred@sikkim.gov.in </td>
            </tr>
            <tr>
              <td>1</td>
              <td>SHRI V.B. PATHAK (IAS)</td>
              <td>ADDL. CHIEF SECRETARY</td>
              <td> 202792</td>
              <td>1001</td>
              <td>9910203553</td>
              <td>prs.fred@sikkim.gov.in </td>
            </tr>
            <tr>
              <td>1</td>
              <td>SHRI V.B. PATHAK (IAS)</td>
              <td>ADDL. CHIEF SECRETARY</td>
              <td> 202792</td>
              <td>1001</td>
              <td>9910203553</td>
              <td>prs.fred@sikkim.gov.in </td>
            </tr>
            <tr>
              <td>1</td>
              <td>SHRI V.B. PATHAK (IAS)</td>
              <td>ADDL. CHIEF SECRETARY</td>
              <td> 202792</td>
              <td>1001</td>
              <td>9910203553</td>
              <td>prs.fred@sikkim.gov.in </td>
            </tr>
  
          </tbody>
        </table>
      </div>
      
    </section>
  </main>
  